@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">Welcome to Jade's Gaming</h1>

<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Product Type</th>
          <th scope="col">Typical Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Playstation Games</td>
          <td>$59.99</td>
        </tr>
        <tr>
          <td>Gameboy</td>
          <td>$20.00</td>
        </tr>
      </tbody>
    </table>
</div>

<h2>About Jade's Gaming</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Top Playstation Game</h5>
    <p class="card-text">Final Fantasy VII Remake is top playstation game</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>